@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

select:focus,
textarea:focus,
input:focus {
    /*
    outline-style: solid;
    outline-color: var(--focus-color);
    outline-offset: 1px;
    outline-width: 1px;
  */

    outline: none;
}

:root {
    --color-text: #000000;
    --color-background: #ffffff;
    --color-primary: #0d1059;
    --color-secondary: #9ea0ea;
    --color-accent: #6062ad;
    --color-border: #D4D4D4;
    --focus-color: #00000050;
}

:root.dark {
    --color-text: #ffffff;
    --color-background: #100e14;
    --color-primary: #0d1059;
    --color-secondary: #9a9ce9;
    --color-accent: #6062ad;
    --color-border: #202020;
    --focus-color: #ffffff50;
}